extends layout

block content

  h1 ID: #{opinioninstance._id}
  
  p #[strong Title:] 
    a(href=opinioninstance.opinion.url) #{opinioninstance.opinion.title}
  p #[strong Imprint:] #{opinioninstance.imprint}

  p #[strong Status:] 
    if opinioninstance.status=='Available'
      span.text-success #{opinioninstance.status}
    else if opinioninstance.status=='Maintenance'
      span.text-danger #{opinioninstance.status}
    else
      span.text-warning #{opinioninstance.status} 
      
  if opinioninstance.status!='Available'
    p #[strong Due back:] #{opinioninstance.due_back_formatted}